<a href="https://colab.research.google.com/github/imabari/covid19-data/blob/master/aichi/aichi_pdf_patients_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
!apt install python3-tk ghostscript
!pip install camelot-py[cv]

Reading package lists... Done
Building dependency tree
Reading state information... Done
ghostscript is already the newest version (9.26~dfsg+0-0ubuntu0.18.04.12).
python3-tk is already the newest version (3.6.9-1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
Requirement already satisfied: camelot-py[cv] in /usr/local/lib/python3.6/dist-packages (0.7.3)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (3.0.4)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (2.5.9)
Requirement already satisfied: pdfminer.six>=20170720 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (20200402)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.0.3)
Requirement already satisfied: PyPDF2>=1.26.0 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.26.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.18.4)
Requirement already satisfied: opencv-python>=3.4.2.17; extra == "cv" in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (4.1.2.30)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.4.1)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdfminer.six>=20170720->camelot-py[cv]) (2.1.0)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.6/dist-packages (from pdfminer.six>=20170720->camelot-py[cv]) (3.9.7)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.23.4->camelot-py[cv]) (1.12.0)

In [0]:
import requests
from bs4 import BeautifulSoup

In [0]:
from urllib.parse import urljoin

In [0]:
import re

In [0]:
import datetime

In [0]:
url = "https://www.pref.aichi.jp/site/covid19-aichi/kansensya-kensa.html"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; rv:11.0) like Gecko",
}

In [0]:
r = requests.get(url, headers=headers)

r.raise_for_status()

soup = BeautifulSoup(r.content, "html5lib")

In [0]:
tag = soup.find("a", text=re.compile("県内発生事例一覧.+PDFファイル"))

In [0]:
link = urljoin(url, tag.get("href"))

In [0]:
m = re.search("(\d{1,2})月(\d{1,2})日", tag.get_text(strip=True))

In [0]:
dt_now = datetime.datetime.now()

In [0]:
month, day = map(int, m.groups())

In [74]:
tag.get_text(strip=True)

'県内発生事例一覧(5月10日現在) [PDFファイル／172KB]'

In [75]:
dt_update = datetime.datetime(dt_now.year, month, day)
dt_update

datetime.datetime(2020, 5, 10, 0, 0)

In [0]:
import pandas as pd

In [0]:
import json

In [0]:
import camelot

In [0]:
tables = camelot.read_pdf(link, pages="all", split_text=True, strip_text="\n", line_scale=40)

In [0]:
df_csv = pd.concat([table.df for table in tables])

df_csv.to_csv("partients.csv", index=None, header=None)

In [0]:
data = {}

In [0]:
df_kanja = pd.read_csv("partients.csv")

In [0]:
def my_parser(s):

    y = dt_now.year
    m, d = map(int, re.findall("[0-9]{1,2}", s))

    return pd.Timestamp(year=y, month=m, day=d)

In [0]:
df_kanja["発表日"] = df_kanja["発表日"].apply(my_parser)

In [85]:
df_kanja.tail(10)

      No        発表日  年代・性別   国籍   住居地           接触状況         備考
491  492 2020-05-03  50代女性  NaN  名古屋市  No.424,470と接触  名古屋市発表272
492  493 2020-05-04  30代男性   日本   半田市      No.490と接触    本県発表198
493  494 2020-05-04  60代女性   日本   知多市  No.389,453と接触    本県発表199
494  495 2020-05-04  60代女性  NaN   豊田市            NaN     豊田市発表8
495  496 2020-05-05  40代男性   日本   一宮市            NaN    本県発表200
496  497 2020-05-05  30代男性   日本  みよし市      No.495と接触    本県発表201
497  498 2020-05-05  30代女性   日本  みよし市      No.495と接触    本県発表202
498  499 2020-05-09  50代女性   日本  春日井市            NaN    本県発表203
499  500 2020-05-09  70代男性  NaN  名古屋市            NaN  名古屋市発表273
500  501 2020-05-09  70代女性  NaN  名古屋市            NaN  名古屋市発表274

In [0]:
sr = df_kanja["発表日"].value_counts()

In [87]:
sr.sort_index().tail(20)

2020-04-15    12
2020-04-16    14
2020-04-17    10
2020-04-18    17
2020-04-19    10
2020-04-20     5
2020-04-21    16
2020-04-22    19
2020-04-23    12
2020-04-24    14
2020-04-25     1
2020-04-26     1
2020-04-28     5
2020-04-29     4
2020-04-30     1
2020-05-01     3
2020-05-03     2
2020-05-04     3
2020-05-05     3
2020-05-09     3
Name: 発表日, dtype: int64

In [0]:
# indexに更新日付が含まれるか確認、含まれない場合は更新日を0で追加
if dt_update not in sr.index:
    sr[dt_update] = 0

In [0]:
df_patients_sum = sr.sort_index().asfreq("D", fill_value=0).reset_index()

In [0]:
df_patients_sum["日付"] = df_patients_sum["index"].dt.strftime("%Y-%m-%d")

In [0]:
df_patients_sum.rename(columns={"発表日": "小計"}, inplace=True)
df_patients_sum.drop(columns=["index"], inplace=True)

In [92]:
df_patients_sum.tail(10)

     小計          日付
96    3  2020-05-01
97    0  2020-05-02
98    2  2020-05-03
99    3  2020-05-04
100   3  2020-05-05
101   0  2020-05-06
102   0  2020-05-07
103   0  2020-05-08
104   3  2020-05-09
105   0  2020-05-10

In [0]:
data["patients_summary"] = {
    "data": df_patients_sum.to_dict(orient="records"),
    "date": dt_update.strftime("%Y/%m/%d"),
}

In [0]:
with open("data.json", "w", encoding="utf-8") as fw:
    json.dump(data, fw, ensure_ascii=False, indent=4)